REMNA_TOKEN=your_bearer_token_here
COOKIE=panel_auth=abc123secret
REMNA_BASE_URL=https://your-remna-host/api
GITHUB_RAW_URL=https://raw.githubusercontent.com/hydraponique/roscomvpn-happ-routing/refs/heads/main/HAPP/DEFAULT.DEEPLINK
CHECK_INTERVAL=300
ROUTING_ASSETS_DIR=/opt/remnawave/downloads
GEOIP_PUBLIC_URL=https://your-host/routing/geoip.dat
GEOSITE_PUBLIC_URL=https://your-host/routing/geosite.dat
DEEPLINK_PREFIX=happ://routing/add/
